/* RESET */

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: inherit;
}

body {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-self: center;
    justify-content: center;
    align-items: center;
    align-self:center;
}

/* HEADER */

header {
    width: 70%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 10px
}

/* TITLE */

.header__title {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header__title--link {
    color: rgba(128, 128, 128, 0.404);
    margin-right: 8px;
    margin-left: 8px;
}

.header__title--link:hover {
    color: rgb(128, 128, 128);
}

.header__title--h4 {
    font-size: 60%;
    margin-top: 5px;
}

/* NAVBAR */

.header__nav {
    width: 20%;
    display: flex;
    align-items: flex-start;
}

.header__title--gender {
    color: rgba(128, 128, 128, 0.404);
    font-size: 80%;
    font-weight: bold;
}

.header__title--gender:hover {
    color: rgb(0, 0, 0);
    font-size: 80%;
}

/* RIGHT ICONS */

.header__rightmenu {
    width: 25%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.header__search {
    width: 100%;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-start;
    align-items: flex-start;
    justify-content: flex-end;
}

.header__search--box {
    width: 90%;
    font-size: 70%;
    font-weight: bold;
    border: none;
    padding: 5px;
}

.header__search--img {
    width: 15px;
    border: none;
    padding: 5px;
    cursor: pointer;
}

.header__search--underline {
    width: 70%;
    display: flex;
    border-bottom: 2px solid black;
    align-content: flex-start;
}

.header__filters {
    width: 80%;
    padding-top:10px;
    display: flex;
    text-transform: uppercase;
    font-size: 60%;
    align-self: flex-end;
    justify-content: flex-end;
}

.header__filters--item {
    margin-left: 10px;
    cursor: pointer;
}

.header__filters--item:hover {
    color: rgba(0, 0, 0, 0.361);
}