/* RESET */

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  color: inherit;
}

body {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-self: center;
  justify-content: center;
  align-items: center;
  align-self: center;
}

/* HEADER */

header {
  width: 70%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 10px;
}

/* TITLE */

.header__title {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header__title--link {
  color: rgba(128, 128, 128, 0.404);
  margin-right: 8px;
  margin-left: 8px;
}

.header__title--link:hover {
  color: rgb(128, 128, 128);
}

.header__title--h4 {
  font-size: 60%;
  margin-top: 5px;
}

/* NAVBAR */

.header__nav {
  width: 20%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}

.header__nav--items {
  position: absolute;
  top: 40px;
  display: flex;
  flex-direction: column;
}

.header__title--nav {
  font-size: 120%;
  color: rgba(0, 0, 0, 0.786);
  font-weight: bold;
}

.header__title--nav:hover {
  color: rgb(128, 128, 128);
}

.header__title--nav2 {
  font-size: 120%;
  font-weight: bold;
  color: rgba(213, 42, 42, 0.786);
}

.header__title--nav2:hover {
  color: rgba(252, 117, 33, 0.782);
}

.header__title--gender {
  color: rgba(128, 128, 128, 0.404);
  font-size: 80%;
  font-weight: bold;
}

.header__title--gender:hover {
  color: rgb(0, 0, 0);
  font-size: 80%;
}

/* RIGHT ICONS */

.header__rightmenu {
  width: 25%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.header__search {
  width: 100%;
  height: 50px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: flex-start;
  align-items: flex-start;
  justify-content: flex-end;
}

.header__search--box {
  width: 90%;
  font-size: 70%;
  font-weight: bold;
  border: none;
  padding: 5px;
}

.header__search--img {
  width: 15px;
  border: none;
  padding: 5px;
  cursor: pointer;
}

.header__search--underline {
  width: 70%;
  display: flex;
  border-bottom: 2px solid black;
  align-content: flex-start;
}

.header__filters {
  width: 80%;
  padding-top: 10px;
  display: flex;
  text-transform: uppercase;
  font-size: 60%;
  align-self: flex-end;
  justify-content: flex-end;
}

.header__filters--item {
  margin-left: 10px;
  cursor: pointer;
}

.header__filters--item:hover {
  color: rgba(0, 0, 0, 0.361);
}

/* MAIN */

/* CLOTHES */

.main__container {
  margin-top: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.main__clothes {
  width: 60%;
  height: max-content;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
  box-sizing: border-box;
  box-shadow: 1px inset gray;
}

.main__clothes--item {
  width: 200px;
  height: 280px;
  /* background-color: blue; */
  object-fit: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  object-fit: cover;
}

.main__clothes--item:hover {
  cursor: pointer;
  box-shadow: 5px 10px 8px rgba(0, 0, 0, 0.179);
}

.main__clothes--figure {
  height: 250px;
  object-fit: contain;
  display: flex;
  justify-content: center;
}

.main__clothes--image {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.main__clothes--name {
  font-size: 70%;
  font-weight: light;
  text-align: center;
}

.main__clothes--price {
  font-size: 60%;
  font-weight: bold;
  text-align: center;
}

/* NEWSLETTER */

.main__newsletter {
  width: 100%;
  margin-top: 20px;
  align-items: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__newsletter--title {
  padding: 5px;
}

.main__newsletter--desc {
  padding: 5px;
  font-weight: lighter;
}

.main__newsletter--text {
  font-size: 70%;
  font-weight: bolder;
  padding: 5px 0 5px 0;
}

.main_newsletter--mail {
  width: 300px;
  font-size: 70%;
  font-weight: bold;
  border: none;
  border-bottom: 2px solid black;
  padding: 5px;
}

/* CONTACTO */

.main__contact {
  width: 100%;
  margin-top: 0px;
  align-items: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__contact--text {
  font-size: 80%;
  font-weight: bolder;
  padding: 5px 0 5px 0;
}

.main__contact--info {
  height: 10px;
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.main__contact--phone {
  width: max-content;
  padding: 0 10px 0 10px;
  color: green;
  font-size: 80%;
  justify-self: center;
}

.main__contact--onlinesells {
  width: max-content;
  padding: 0 10px 0 10px;
  font-size: 80%;
  border-left: 1px solid black;
}

.main__contact--shops {
  width: max-content;
  padding: 0 10px 0 10px;
  font-size: 80%;
  border-left: 1px solid black;
}

.main__contact--icon {
  width: 20px;
  border: none;
  padding: 1px;
  cursor: pointer;
}

/* FOOTER */

footer {
  margin-top: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 40px;
}

.footer__container {
  width: 60%;
  height: max-content;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
  margin-bottom: 20px;
}

.footer__menu {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.footer__menu--title {
  font-size: 60%;
  font-weight: bold;
  padding-bottom: 15px;
}

.footer__menu--link {
  font-size: 60%;
  padding-top: 5px;
}

.footer__menu--link:hover {
  color: green;
}

.footer__menu--icon {
  width: 10px;
  border: none;
  margin-right: 5px;
}

.footer__container2 {
  width: 60%;
  height: max-content;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}

.footer__container2--item {
  width: 23%;
  height: 100px;
  object-fit: contain;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 0.5px solid rgba(0, 0, 0, 0.093);
}

.footer__container2--item:hover {
  cursor: pointer;
  box-shadow: 5px 10px 8px rgba(0, 0, 0, 0.087);
}

.footer__container2--link {
  font-size: 60%;
  padding-top: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__container2--linkbold {
  font-size: 60%;
  padding-top: 5px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* EXTRAS */

.hr__separator {
  width: 130%;
  margin-top: 30px;
  margin-bottom: 20px;
  border: 1px solid rgba(0, 0, 0, 0.095);
  align-self: center;
}
